.about-container {
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
    padding: 0 20px;
}

.about-content {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}

.about-column {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    background: linear-gradient(135deg, rgba(0, 193, 255, 0.5) 0%, rgba(247, 246, 129, 0.5) 50%, rgba(250, 155, 145, 0.5) 100%);
}

.about-column:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.about h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.5rem;
    color: #333;
}

.about-column h3 {
    font-size: 1.875rem;
    margin-bottom: 1rem;
    color: #555;
}

.about-column p {
    font-size: 1.125rem;
    line-height: 1.6;
    margin-bottom: 1rem;
    color: #666;
    text-align: justify;
}

.about-column ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 1rem;
}

.about-column li {
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
    color: #666;
    text-align: justify;
}

/* Десктоп */
@media (min-width: 1025px) {
    .about-column {
        flex-basis: calc(33.333% - 20px);
    }
}

/* Планшеты */
@media (max-width: 1024px) {
    .about-container {
        width: 95%;
    }

    .about-content {
        flex-direction: column;
    }

    .about-column {
        max-width: 100%;
    }

    .about h2 {
        font-size: 2.2rem;
    }

    .about-column h3 {
        font-size: 1.7rem;
    }

    .about-column p,
    .about-column li {
        font-size: 1.05rem;
    }
}

/* Мобильные устройства */
@media (max-width: 768px) {
    .about-container {
        width: 90%;
    }

    .about-column {
        padding: 20px;
    }

    .about h2 {
        font-size: 1.8rem;
    }

    .about-column h3 {
        font-size: 1.4rem;
    }

    .about-column p,
    .about-column li {
        font-size: 1rem;
    }
}

/* Маленькие мобильные устройства */
@media (max-width: 480px) {
    .about h2 {
        font-size: 1.6rem;
    }

    .about-column h3 {
        font-size: 1.2rem;
    }

    .about-column p,
    .about-column li {
        font-size: 0.95rem;
    }
}