/* src/components/LanguageSwitcher.css */

.language-switcher {
    position: relative;
    background-color: #a1c4fd;
    border-radius: 30px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.language-switcher button {
    background-color: #fda085;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 20px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    /* width: 30px; */
    text-align: center;
}

.language-switcher button:hover {
    background-color: var(--secondary-color-dark);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.language-switcher ul {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fda085;
    border: 1px solid var(--secondary-color);
    border-radius: 20px;
    border: none;
    list-style-type: none;
    padding: 0;
    margin: 5px 0 0;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.language-switcher li {
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    font-size: 14px;
}

.language-switcher li:hover {
    background-color: #84fab0;
    border-radius: 30px;
}

.menu-lang-switcher {
    width: 100%;
}

.menu-lang-switcher ul {
    position: static;
    margin-top: 5px;
    width: 15%;
}