/* src/components/Header/Header.css */
.header {
    background-color: var(--primary-color);
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: auto;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0.5rem 1rem; */
    /* Добавляем немного отступов */
}

.logo {
    flex-shrink: 0;
    /* Предотвращаем сжатие логотипа */
    margin-right: 1rem;
    /* Добавляем отступ справа от логотипа */
}

.logo img {
    height: 70px;
    /* Увеличиваем высоту с 40px до 60px */
    width: auto;
    /* Устанавливаем автоматическую ширину для сохранения пропорций */
    max-width: 200px;
    /* Устанавливаем максимальную ширину, чтобы логотип не стал слишком большим */
}

.desktop-nav {
    display: flex;
    font-size: 25px;
}

.desktop-nav a {
    margin: 0 1rem;
    text-decoration: none;
    color: white;
    transition: all 0.3s ease;
}

.desktop-nav a:hover {
    font-size: 110%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.desktop-nav a.active {
    font-weight: bold;
    box-shadow: 0 2px 0 white;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

@media (max-width: 768px) {
    .desktop-nav {
        display: none;
    }

    .menu-toggle {
        display: block;
    }
    
}

