/* src/components/Header/Header.css */

.header {
    background-color: var(--primary-color);
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: auto;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    flex-shrink: 0;
    margin-right: 1rem;
}

.logo img {
    height: 70px;
    width: auto;
    max-width: 200px;
}

.desktop-nav {
    display: flex;
    font-size: 25px;
}

.desktop-nav a {
    margin: 0 1rem;
    text-decoration: none;
    color: white;
    transition: all 0.3s ease;
}

.desktop-nav a:hover {
    font-size: 110%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.desktop-nav a.active {
    font-weight: bold;
    box-shadow: 0 2px 0 white;
}

.header-right {
    display: flex;
    align-items: center;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    margin-left: 1rem;
}

@media (max-width: 1024px) {
    .desktop-nav {
        font-size: 18px;
    }

    .desktop-nav a {
        margin: 0 0.5rem;
    }
}

@media (max-width: 768px) {

    .desktop-nav,
    .desktop-lang-switcher {
        display: none;
    }

    .menu-toggle {
        display: block;
    }
}